{% extends 'admin/base.html' %}

{% block extrastyle %}
<style>
          @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
          *
{
          font-family: 'Inter', sans-serif;
}

input
{
          border-radius: 5px;
          font-family: 'Inter', sans-serif ! important;
          font-size: 12px;
}

textarea
{
          border-radius: 5px;
          font-family: 'Inter', sans-serif ! important;
          font-size: 12px;

}

select
{
          border-radius: 5px;
          font-family: 'Inter', sans-serif ! important;
          font-size: 12px;
}          
</style>
{% endblock %}

{% block branding %}
{{ block.super }}
{% endblock %}