{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}
    <div class="container-fluid container-lg mt-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="card box-shadow text-center p-3">
                        <div class="mb-3 text-uppercase text-start text-muted">USERS</div>
                        <div class="text-start fs-5 fw-bold m-0">{{ total_users }}</div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="card box-shadow text-center p-3">
                        <div class="mb-3 text-uppercase text-start text-muted">CATEGORIES</div>
                        <div class="text-start fs-5 fw-bold m-0">{{ total_categories }}</div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6">
                    <div class="card box-shadow text-center p-3">
                        <div class="mb-3 text-uppercase text-start text-muted">POSTS</div>
                        <div class="text-start fs-5 fw-bold m-0">{{ total_posts }}</div>
                    </div>
                </div>
            </div>


                 </div>
    </div>
{% endblock %}

